<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="../../static/styles/reset.css">
    <link rel="stylesheet" href="./errors.css">
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <span class="error">404</span>
    
            <span class="sorry">Извините! Страница не найдена!</span>
    
            <a href="/" class="back">Вернуться на главную страницу</a>
        </div>
    
        <img src="../../static/img/what.gif" alt='' />
    </div>
</body>
</html>