<head>
    <link rel="stylesheet" href="./styles/header.css">
</head>

<nav>
    <ul>
        <li><a href="../pages/login/login.hbs">login</a></li>
        <li><a href="../pages/signup/signup.hbs">signup</a></li>
        <li><a href="../pages/chats/chat.hbs">chats</a></li>
        <li><a href="../pages/profile/profile.hbs">profile</a></li>
        <li><a href="../pages/profile/edit_profile.hbs">edit profile</a></li>
        <li><a href="../pages/profile/change_password.hbs">change password</a></li>
        <li><a href="../pages/errors/404.hbs">404</a></li>
        <li><a href="../pages/errors/500.hbs">500</a></li>
    </ul>
</nav>