<nav>
    <ul>
        <li><a href="./login.hbs">login</a></li>
        <li><a href="./signup.hbs">signup</a></li>
        <li><a href="./chat.hbs">chats</a></li>
        <li><a href="./profile.hbs">profile</a></li>
        <li><a href="./edit_profile.hbs">edit profile</a></li>
        <li><a href="./change_password.hbs">change password</a></li>
        <li><a href="./404.hbs">404</a></li>
        <li><a href="./500.hbs">500</a></li>
    </ul>
</nav>