---
title: "Web chat | 404"
styles:
    - "./styles/errors.css"
---

{{!< base}}

<main class="container">
    <div class="wrapper">
        <span class="error">404</span>

        <span class="sorry">Извините! Страница не найдена!</span>

        <a href="/" class="back">Вернуться на главную страницу</a>
    </div>

    <img src="img/what.gif" alt='' />
</main>
