---
title: "Web chat | Login"
styles:
    - "./styles/login.css"
---

{{!< base}}

<form class="login-form">
    <span class="login-form__title">Вход</span>

    <div class="login-form__wrapper">
        <label>Логин
            <input type="text" name="login" class="login-form__login">
        </label>
        <span class="login-form__error">Неверный логин</span>
    </div>

    <div class="login-form__wrapper">
        <label>Пароль
            <input type="password" name="password" class="login-form__password">
        </label>
        <span class="login-form__error">Неверный пароль</span>
    </div>

    <button type="submit" class="login-form__button">Войти</button>

    <a href="signup.hbs" class="login-form__signup">Нет аккаунта?</a>
</form>