---
title: "Web chat | Login"
styles:
    - "./styles/auth.css"
---

{{!< base}}

<form class="auth-form">
    <span class="auth-form__title">Вход</span>

    <div class="auth-form__wrapper">
        <label>Логин
            <input type="text" name="login" class="login-form__login">
        </label>
        <span class="auth-form__error">Неверный логин</span>
    </div>

    <div class="auth-form__wrapper">
        <label>Пароль
            <input type="password" name="password" class="login-form__password">
        </label>
        <span class="auth-form__error">Неверный пароль</span>
    </div>

    <button type="submit" class="auth-form__button auth-form__button_login">Войти</button>

    <a href="signup.hbs" class="auth-form__auth">Нет аккаунта?</a>
</form>
