---
title: "Web chat | SignUp"
styles:
    - "./styles/auth.css"
---

{{!< base}}

<form class="auth-form">
    <span class="auth-form__title">Регистрация</span>

    <div class="auth-form__wrapper">
        <label>Почта
            <input type="email" name="email" class="signup-form__email">
        </label>
        <span class="auth-form__error"></span>
    </div>

    <div class="auth-form__wrapper">
        <label>Логин
            <input type="text" name="login" class="signup-form__login">
        </label>
        <span class="auth-form__error"></span>
    </div>

    <div class="auth-form__wrapper">
        <label>Имя
            <input type="text" name="first_name" class="signup-form__first-name">
        </label>
        <span class="auth-form__error"></span>
    </div>

    <div class="auth-form__wrapper">
        <label>Фамилия
            <input type="text" name="second_name" class="signup-form__second-name">
        </label>
        <span class="auth-form__error"></span>
    </div>

    <div class="auth-form__wrapper">
        <label>Телефон
            <input type="tel" name="phone" class="signup-form__phone">
        </label>
        <span class="auth-form__error"></span>
    </div>

    <div class="auth-form__wrapper">
        <label>Пароль
            <input type="password" name="password" class="signup-form__password">
        </label>
        <span class="auth-form__error"></span>
    </div>

    <div class="auth-form__wrapper">
        <label>Пароль (ещё раз)
            <input type="password" name="confirm_password" class="signup-form__password">
        </label>
        <span class="auth-form__error">Пароли не совпадают</span>
    </div>

    <button type="submit" class="auth-form__button">Зарегистрироваться</button>

    <a href="login.hbs" class="auth-form__auth">Войти</a>
</form>